<script src="https://kit.fontawesome.com/44304cb626.js" crossorigin="anonymous"></script>
<script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/core/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/moment.min.js"></script>
<script src="/assets/js/material-kit.js?v=3.0.4" type="text/javascript"></script>