<div class="profile-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="profile">
          <div class="avatar">
            <img src="/assets/img/headshot.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
          </div>
          <div class="name">
            <h3 class="title">Wen Lin Gang</h3>
            <p>Ruby & Full-stack programmer @ Lifelong learner.</p>
            <p class="font-italic text-muted">You build it, You run it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
