<div class="profile-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <div class="profile">
          <div class="avatar">
            <img src="/assets/img/headshot.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
          </div>
          <div class="name">
            <h4 class="title">Wen Lin Gang</h4>
            <p>Ruby & Go Full-stack programmer @ Lifelong learner.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
