.highlight .line-numbers,
.highlight .diff-line-num {
  background-color: #002b36
}

.highlight .diff-line-num,
.highlight .diff-line-num a {
  color: rgba(255, 255, 255, 0.3)
}

.highlight pre.code,
.highlight .diff-line-num {
  border-color: #113b46
}

.highlight,
.highlight pre.code,
.highlight .line_holder .line_content {
  background-color: #002b36;
  color: #93a1a1
}

.highlight .line_expansion {
  background-color: #002b36
}

.highlight .line_expansion td {
  border-top: 1px solid #113b46;
  border-bottom: 1px solid #113b46
}

.highlight .line_expansion a {
  color: #268bd2
}

.highlight .line_holder.match .line_content,
.highlight .line_holder.old-nonewline .line_content,
.highlight .line_holder.new-nonewline .line_content {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1)
}

.highlight .line_holder td.diff-line-num.hll:not(.empty-cell),
.highlight .line_holder td.line_content.hll:not(.empty-cell) {
  background-color: #174652;
  border-color: #061316
}

.highlight .line_holder .diff-line-num.new,
.highlight .line_holder .line_content.new {
  background: rgba(133, 153, 0, 0.15)
}

.highlight .line_holder .diff-line-num.new.line_content span.idiff,
.highlight .line_holder .line_content.new.line_content span.idiff {
  background: rgba(133, 153, 0, 0.25)
}

.highlight .line_holder .diff-line-num.new.diff-line-num,
.highlight .line_holder .line_content.new.diff-line-num {
  border-color: #113b46
}

.highlight .line_holder .diff-line-num.new::before,
.highlight .line_holder .diff-line-num.new a,
.highlight .line_holder .line_content.new::before,
.highlight .line_holder .line_content.new a {
  color: #5a766c
}

.highlight .line_holder .diff-line-num.old,
.highlight .line_holder .line_content.old {
  background: rgba(220, 50, 47, 0.3)
}

.highlight .line_holder .diff-line-num.old.line_content span.idiff,
.highlight .line_holder .line_content.old.line_content span.idiff {
  background: rgba(220, 50, 47, 0.25)
}

.highlight .line_holder .diff-line-num.old.diff-line-num,
.highlight .line_holder .line_content.old.diff-line-num {
  border-color: #113b46
}

.highlight .line_holder .diff-line-num.old::before,
.highlight .line_holder .diff-line-num.old a,
.highlight .line_holder .line_content.old::before,
.highlight .line_holder .line_content.old a {
  color: #7a6c71
}

.highlight .line_holder .diff-line-num.is-over,
.highlight .line_holder .diff-line-num.hll:not(.empty-cell).is-over {
  background-color: #9f9ab5;
  border-color: #918baa
}

.highlight .line_holder .diff-line-num.is-over a,
.highlight .line_holder .diff-line-num.hll:not(.empty-cell).is-over a {
  color: #756e95
}

.highlight .line_holder .line_content.match {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1)
}

.highlight .line_holder:not(.diff-expanded)+.diff-expanded>.diff-line-num,
.highlight .line_holder:not(.diff-expanded)+.diff-expanded>.line_content,
.highlight .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.diff-line-num,
.highlight .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.line_content {
  border-top: 1px solid #000
}

.highlight .line_holder.diff-expanded>.diff-line-num,
.highlight .line_holder.diff-expanded>.line_content {
  background: #010d10;
  border-color: #010d10
}

.highlight pre .hll {
  background-color: #174652 !important
}

.highlight span.highlight_word {
  background-color: #094554 !important
}

.highlight .line a {
  color: #268bd2
}

.highlight .c {
  color: #586e75
}

.highlight .err {
  color: #93a1a1
}

.highlight .g {
  color: #93a1a1
}

.highlight .k {
  color: #859900
}

.highlight .l {
  color: #93a1a1
}

.highlight .n {
  color: #93a1a1
}

.highlight .o {
  color: #859900
}

.highlight .x {
  color: #cb4b16
}

.highlight .p {
  color: #93a1a1
}

.highlight .cm {
  color: #586e75
}

.highlight .cp {
  color: #859900
}

.highlight .c1 {
  color: #586e75
}

.highlight .cs {
  color: #859900
}

.highlight .gd {
  color: #2aa198
}

.highlight .ge {
  color: #93a1a1;
  font-style: italic
}

.highlight .gr {
  color: #dc322f
}

.highlight .gh {
  color: #cb4b16
}

.highlight .gi {
  color: #859900
}

.highlight .go {
  color: #93a1a1
}

.highlight .gp {
  color: #93a1a1
}

.highlight .gs {
  color: #93a1a1;
  font-weight: 600
}

.highlight .gu {
  color: #cb4b16
}

.highlight .gt {
  color: #93a1a1
}

.highlight .kc {
  color: #cb4b16
}

.highlight .kd {
  color: #268bd2
}

.highlight .kn {
  color: #859900
}

.highlight .kp {
  color: #859900
}

.highlight .kr {
  color: #268bd2
}

.highlight .kt {
  color: #dc322f
}

.highlight .ld {
  color: #93a1a1
}

.highlight .m {
  color: #2aa198
}

.highlight .s {
  color: #2aa198
}

.highlight .na {
  color: #93a1a1
}

.highlight .nb {
  color: #b58900
}

.highlight .nc {
  color: #268bd2
}

.highlight .no {
  color: #cb4b16
}

.highlight .nd {
  color: #268bd2
}

.highlight .ni {
  color: #cb4b16
}

.highlight .ne {
  color: #cb4b16
}

.highlight .nf {
  color: #268bd2
}

.highlight .nl {
  color: #93a1a1
}

.highlight .nn {
  color: #93a1a1
}

.highlight .nx {
  color: #93a1a1
}

.highlight .py {
  color: #93a1a1
}

.highlight .nt {
  color: #268bd2
}

.highlight .nv {
  color: #268bd2
}

.highlight .ow {
  color: #859900
}

.highlight .w {
  color: #93a1a1
}

.highlight .mf {
  color: #2aa198
}

.highlight .mh {
  color: #2aa198
}

.highlight .mi {
  color: #2aa198
}

.highlight .mo {
  color: #2aa198
}

.highlight .sb {
  color: #586e75
}

.highlight .sc {
  color: #2aa198
}

.highlight .sd {
  color: #93a1a1
}

.highlight .s2 {
  color: #2aa198
}

.highlight .se {
  color: #cb4b16
}

.highlight .sh {
  color: #93a1a1
}

.highlight .si {
  color: #2aa198
}

.highlight .sx {
  color: #2aa198
}

.highlight .sr {
  color: #dc322f
}

.highlight .s1 {
  color: #2aa198
}

.highlight .ss {
  color: #2aa198
}

.highlight .bp {
  color: #268bd2
}

.highlight .vc {
  color: #268bd2
}

.highlight .vg {
  color: #268bd2
}

.highlight .vi {
  color: #268bd2
}

.highlight .il {
  color: #2aa198
}

/* customer */
.highlight pre {
  display: block;
  padding: 8px 12px;
  margin: 0 0 8px;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

blockquote {
  color: #7f8fa4;
  font-size: inherit;
  padding: 8px 24px;
  margin: 16px 0;
  border-left: 3px solid #eaeaea;
}

blockquote p {
  margin: 0;
  color: #7f8fa4 !important;
  font-size: inherit;
  line-height: 1.5;
}

blockquote p a {
  color: #1b69b6;
  transition: background-color 100ms linear, color 100ms linear, border 100ms linear;
  text-decoration: none;
  background-color: transparent;
}
